/* Open Sans */
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}

/* Roboto Condensed */
@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
