/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 /* Arreglos */
 .border-fix {
   border-radius: 5rem;
 }

 /* Menus */
 .menu-transparente{
   background-color: #fff;
   box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
   opacity: 0.95;
   padding: 0 0.5rem;
 }

 .menu-transparente a{
   border-radius: 4px;
   margin: 0.5rem 0;
 }
 .menu-transparente a:hover {
   background-color: #224;
   color: #eee;
 }

.dropdown-toggle-custom::after {
  display: inline-block;
  content: "\203A";
  transition: transform linear 70ms;
}
.show .dropdown-toggle-custom::after{
  transform: rotate(90deg) translate(2px,-2px);
}

/* Colores propios */
.primaria,body {
 background-color: #eee;
 color: #222;
}

.resaltado {
 background-color: #224;
 color: #eee;
}
.borde-resaltado {
  border-color: #224;
}
.btn-resaltado {
  background-color: #808000;
  color: #fff;
}
.btn-outline-resaltado {
  background: none;
  border: 1px solid #808000;
  color: #808000;
}
.btn-resaltado:hover,
.btn-outline-resaltado:hover{
  background-color: #606000;
  color: #fff;
}


/* Cabecera */
.navbar-brand .logo {
 max-height: 2rem;
}
.navbar-brand h1 {
  font-size: 2rem;
}

/* Barra navegacion */
#barra-principal .nav-item>a{
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 1.2rem;
}
#barra-principal .dropdown-divider {
  width: 75%;
  margin: auto;
}

#barra-principal .nav-item {
  transition: box-shadow linear 0.2s;
  padding: 0.5rem 0;
}

#barra-principal .nav-item:hover {
  box-shadow: inset 0 -3px 0 #808000;
}

/* Principal */
#herramientas .herramienta {
  margin: 0 1rem;
}
#herramientas .herramienta:first-child {
  margin-top: 0;
}
#herramientas .herramienta:last-child {
  margin-bottom: 0;
}

/* Carrusel Principal */
#carouselInfo {
  background-color: #fff;
  overflow: hidden;
}
#carouselInfo nav{
  display: none;
}
#carouselInfo nav a{
  color: #224;
  margin: 0.5rem;
}
#carouselInfo nav a:hover{
  color: #fff;
  background-color: #808000;
}
#carouselInfo nav a.active{
  color: #fff;
  background-color: #224;
}

/* Articulos Carrusel */
#carouselInfo article {
  background-color: #888;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 40vh;
  min-height: 13rem;
  padding: 2rem 0;
}
#carouselInfo article .article-content{
  background-color: rgba(0, 0, 0, 0.7);
  color: #eee;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 100%;
}

#carouselInfo article:nth-child(1) {
  background-image: url("../img/articles/background5.jpg");
}
#carouselInfo article:nth-child(2) {
  background-image: url("../img/articles/background2.jpg");
}
#carouselInfo article:nth-child(3) {
  background-image: url("../img/articles/background3.png");
}
#carouselInfo article:nth-child(4) {
  background-image: url("../img/articles/background1.jpg");
}
#carouselInfo article:nth-child(5) {
  background-image: url("../img/articles/background4.png");
}

/* Perfiles de Usuario */
.profilepic-wrapper > *{
  margin-top: 0.5rem;
}

.profilepic-wrapper a:hover {
  background-color: #808000;
  color: #eee;
}

.materias li{
  padding: 0 0.5rem;
  margin: 0.5rem 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {

 }

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) {
   #carouselInfo nav{
     display: block;
   }
 }

 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {
   #herramientas .herramienta {
     max-width: 25%;
     margin: 0;
   }

   #carouselInfo nav{
     display: flex;
   }

   #carouselInfo .carousel-control-prev,
   #carouselInfo .carousel-control-next{
     display: none;
   }

   /* Perfiles de Usuario */
   .profilepic-wrapper{
     padding: 0 2rem;
   }
   .info-basica {
     display: block;
     min-width: 70%;
     align-self: center;
   }
   .info-basica li {
     border: none;
   }
 }

 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {
   /* ... */
 }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
